@use "../../global-styles/includes.scss" as *;

.section {
  position: relative;

  width: 100%;
  min-height: 100vh;

  // overflow: hidden;

  background: #060606;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 5%;
}

.blurOne {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $burgundy;

  filter: blur(220px);

  opacity: .18;

  left: -250px;
  top: -250px;
}

.blurTwo {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $violet;

  filter: blur(220px);

  opacity: .15;

  right: -250px;
  bottom: -250px;
}

.backgroundTitle {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  @include font(12rem, 700);

  color: rgba(255,255,255,.02);

  white-space: nowrap;
}

.content {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5rem;
}

.left {
  max-width: 650px;

  .slide {
    @include font(1.4rem,700);

    color: rgba(255,255,255,.4);
  }

  h2 {
    margin-top: 1rem;

    @include font(6.5rem,700);

    color: white;

    line-height: .9;
  }

  p {
    margin-top: 1.5rem;

    @include font(1.2rem,700);

    color: rgba(255,255,255,.65);

    line-height: 1.7;
  }
}

.stack {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;

  gap: .8rem;

  span {
    padding: .9rem 1.2rem;

    border-radius: 100px;

    background: rgba(255,255,255,.04);

    border: 1px solid rgba(255,255,255,.08);

    color: white;

    @include font(.9rem,700);
  }
}

.preview {
  position: relative;

  width: 850px;
  height: 520px;

  overflow: hidden;

  border-radius: 32px;

  border: 1px solid rgba(255,255,255,.08);

  box-shadow:
    0 0 100px rgba(255,255,255,.03);

  img {
    object-fit: contain;
    filter: brightness(.8);
  }
}

.featureGrid {
  position: absolute;

  right: 25px;
  bottom: 25px;

  display: grid;
  grid-template-columns: repeat(2,1fr);

  gap: .8rem;
}

.feature {
  padding: 1rem 1.2rem;

  background: rgba(255,255,255,.06);

  backdrop-filter: blur(25px);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 18px;

  color: white;

  @include font(.9rem,700);
}

.stats {
  position: relative;
  z-index: 3;

  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(4,1fr);

  gap: 1.5rem;

  div {
    padding: 2rem;

    border-radius: 30px;

    background: rgba(255,255,255,.04);

    backdrop-filter: blur(30px);

    border: 1px solid rgba(255,255,255,.08);
  }

  span {
    @include font(3.5rem,700);

    color: white;
  }

  p {
    margin-top: .5rem;

    @include font(.95rem,700);

    color: rgba(255,255,255,.5);
  }
}