@use "../../global-styles/includes.scss" as *;

.section {
  position: relative;

  min-height: 100vh;
  width: 100%;


  background: #050505;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 6%;
}

.blurOne {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $burgundy;

  filter: blur(220px);

  opacity: .18;

  left: -250px;
  top: -250px;
}

.blurTwo {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $violet;

  filter: blur(220px);

  opacity: .15;

  right: -250px;
  bottom: -250px;
}

.backgroundTitle {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  @include font(16rem,700);

  color: rgba(255,255,255,.02);

  white-space: nowrap;

  pointer-events: none;
}

.header {
  position: relative;
  z-index: 2;

  max-width: 700px;

  span {
    @include font(1.3rem,700);

    color: rgba(255,255,255,.4);
  }

  h2 {
    margin-top: 1rem;

    @include font(7rem,700);

    line-height: .9;

    color: white;
  }

  p {
    margin-top: 2rem;

    @include font(1.2rem,700);

    line-height: 1.6;

    color: rgba(255,255,255,.65);
  }
}

.timeline {
  position: relative;

  margin-top: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1.5rem;

  z-index: 2;
}

.line {
  position: absolute;

  left: 0;
  right: 0;

  top: 50%;

  height: 1px;

  background:
    linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,.2),
      transparent
    );
}

.card {
  position: relative;

  width: 260px;

  padding: 2rem;

  background: rgba(255,255,255,.04);

  backdrop-filter: blur(30px);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 30px;

  box-shadow:
    0 0 40px rgba(255,255,255,.03);

  span {
    @include font(1rem,700);

    color: rgba(255,255,255,.4);
  }

  h3 {
    margin-top: 1rem;

    @include font(2rem,700);

    color: white;
  }

  p {
    margin-top: .8rem;

    @include font(1rem,700);

    line-height: 1.5;

    color: rgba(255,255,255,.65);
  }
}