@use "../../global-styles/includes.scss" as *;

.section {
  position: relative;

  width: 100%;
  min-height: 100vh;

  // overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #060606;
}

.blurOne {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $burgundy;

  filter: blur(220px);

  opacity: .18;

  left: -250px;
  top: -250px;
}

.blurTwo {
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: $violet;

  filter: blur(220px);

  opacity: .15;

  right: -250px;
  bottom: -250px;
}

.backgroundTitle {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  @include font(11rem, 700);

  color: rgba(255,255,255,.02);

  white-space: nowrap;

  pointer-events: none;
}

.content {
  position: relative;
  z-index: 3;

  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 6rem;
}

.left {
  max-width: 650px;

  .slide {
    @include font(1.4rem, 700);

    color: rgba(255,255,255,.4);
  }

  h2 {
    margin-top: 1rem;

    @include font(7rem, 700);

    line-height: .9;

    color: white;
  }

  p {
    margin-top: 2rem;

    @include font(1.25rem, 700);

    color: rgba(255,255,255,.65);

    line-height: 1.6;
  }
}

.metrics {
  display: flex;
  gap: 3rem;

  margin-top: 4rem;

  flex-wrap: wrap;

  span {
    @include font(3.5rem, 700);

    color: white;
  }

  p {
    margin-top: .5rem;

    @include font(.95rem, 700);

    color: rgba(255,255,255,.5);
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.roadmap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card {
  width: 340px;

  padding: 1.8rem;

  background: rgba(255,255,255,.04);

  backdrop-filter: blur(30px);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 28px;

  span {
    @include font(.9rem,700);

    color: rgba(255,255,255,.4);
  }

  h3 {
    margin-top: .8rem;

    @include font(2rem,700);

    color: white;
  }
}

.connector {
  width: 2px;
  height: 60px;

  margin-left: 24px;

  background:
    linear-gradient(
      180deg,
      rgba(255,255,255,.05),
      rgba(255,255,255,.25),
      rgba(255,255,255,.05)
    );
}

.logoCard {
  width: 300px;
  height: 300px;

  border-radius: 36px;

  background: rgba(255,255,255,.04);

  backdrop-filter: blur(30px);

  border: 1px solid rgba(255,255,255,.08);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 0 60px rgba(255,255,255,.03);

  img {
    object-fit: contain;
  }
}